*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background: #fff;
    font-size: 16px;
    font-family: Rubik;
    font-weight: 500;
    font-style: normal;
    font-family: Rubik; 

}

.contenedor{
    width: 910%;
    max-width: 700px;
    overflow: hidden;
    margin: auto;
}

/*header */ 
.menu_bar {
    display:none;
    background-color: white;
    
}

header {
    width: 100%;
    z-index: 1 !important;
    position: fixed;
    height: 4rem;
}
header nav {
    margin: 0rem 2rem;
    text-align: center;
}
header nav ul {
    list-style:none;
}
header nav ul li {
    display:inline-block;
    position: relative;
}
 
header nav ul li:hover {
    background:blue;
}
.lala{
    color:#000;
    display:block;
    text-decoration:none;
    padding: 20px;
}
.buttoncont{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
}

/*----------banner1-------------------------------*/ 

.banner1{
    background-image: url('../img/banner1.png');
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.tablet1{
    display: none;
}

.banner1 .image img {
    position: absolute;
    top: 90%;
    left: 45%;
}
/*----- button ------- */ 

.banner1 img  {
  
    position: absolute;
    left: 46.5%;
    top: 88%; 
}

.banner1 img:hover{
    opacity:.6;
    cursor: pointer;
}


/*-----banner2-------------------*/

.banner2{
    background-image: url('../img/banner2.png');
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.tablet1{
    display: none;
}

.banner2 .image img {
    position: absolute;
    top: 90%;
    left: 45%;
}

/*----- button ------- */ 

.banner2 img  {
  
    position: absolute;
    left: 46.5%;
    top: 88%; 
}

.banner2 img:hover{
    opacity:.6;
    cursor: pointer;
}


/*-----banner3-------------------*/

.banner3{
    background-image: url('../img/banner3.png');
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.tablet1{
    display: none;
}

.banner3 .image img {
    position: absolute;
    top: 90%;
    left: 45%;
}

/*----- button ------- */ 

.banner3 img  {
  
    position: absolute;
    left: 46.5%;
    top: 88%; 
}

.banner3 img:hover{
    opacity:.6;
    cursor: pointer;
}

/*-----banner4-------------------*/

.banner4{
    background-image: url('../img/banner4.png');
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.tablet1{
    display: none;
}

.banner4 .image img {
    position: absolute;
    top: 90%;
    left: 45%;
}

/*----- button ------- */ 

.banner4 img  {
  
    position: absolute;
    left: 46.5%;
    top: 88%; 
}

.banner4 img:hover{
    opacity:.6;
    cursor: pointer;
}

/*-----banner5-------------------*/

.banner5{
    background-image: url('../img/banner5.png');
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.tablet1{
    display: none;
}

.banner5 .image img {
    position: absolute;
    top: 90%;
    left: 45%;
}

/*----- button ------- */ 

.banner5 img  {
  
    position: absolute;
    left: 46.5%;
    top: 88%; 
}

.banner5 img:hover{
    opacity:.6;
    cursor: pointer;
}



/* ------- POPUP */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 150px; /* Location of the box */
    padding-right: 64px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    margin: auto;
    padding: 24px;
    width: 470px;
    border-radius: 10px;

}


/* -----movil --- */ 

@media screen and (max-width:760px){
    header .menu{
        justify-content: center;
    }
    header .contenido-header .texto-header{
       font-size:18px;
    }
    header .contenido-header .texto-header .desaparecer{
        display: none;
    }
}

@media screen and (max-width:630px){
    header .contenido-header .titulo-header{
        font-size:80px;
    }
    header .contenido-header .linea-header{
        width: 400px;
    }
    main .portafolio .galeria .fotos{
        width:49%;
    }
}

@media screen and (max-width: 500px){
    header .contenido-header .titulo-header{
        font-size:40px;
    }
 
    main .contenido-cajas{
        justify-content: center
    }

    .banner1{
        content: url(../img/tourpantallamobil1.png);
        width: 100%;
    }
    .popup1 {
        content: url(../img/popupmobil1.png);
    }

    
    .banner2{
        content: url(../img/tourpantallamobil2.png);
        width: 100%;
    }
    .popup2 {
        content: url(../img/popupmobil2.png);
    }

    .banner3{
        content: url(../img/tourpantallamobil3.png);
        width: 100%;
    }
    .popup3 {
        content: url(../img/popupmobil3.png);
    }

    .banner4{
        content: url(../img/tourpantallamobil4.png);
        width: 100%;
    }
    .popup4 {
        content: url(../img/popupmobil4.png);
    }

    .banner5{
        content: url(../img/tourpantallamobil5.png);
        width: 100%;
    }
    .popup5 {
        content: url(../img/popupmobil5.png);
    }
}

@media screen and (max-width: 350px){

    header .contenido-header .texto-header{
        font-size:15px;
    }
}

