*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background: #fff;
    font-size: 16px;
    font-family: Rubik;
    font-weight: 500;
    font-style: normal;
    font-family: Rubik; 

}

.contenedor{
    width: 910%;
    max-width: 700px;
    overflow: hidden;
    margin: auto;
}

/*header */ 
.menu_bar {
    display:none;
    background-color: white;
    
}

header {
    width: 100%;
    z-index: 1 !important;
    position: fixed;
    height: 4rem;
}
header nav {
    margin: 0rem 2rem;
    text-align: center;
}
header nav ul {
    list-style:none;
}
header nav ul li {
    display:inline-block;
    position: relative;
}
 
header nav ul li:hover {
    background:blue;
}
.lala{
    color:#000;
    display:block;
    text-decoration:none;
    padding: 20px;
}

/*----------banner1-------------------------------*/ 

.banner1{
    background-image: url('../img/banner1.png');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.tablet1{
    display: none;
}

.banner1 .image img {
    position: absolute;
    top: 90%;
    left: 45%;
}


/* ------ BUTTON ----- */ 
.flex-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  
.button {
    background-color: rgb(145, 243, 255);; /* Green */
    border: none;
    color: white;
    border-radius: 10px;
    padding: 14px 35px;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    position: absolute;
    top: 90%;
    left: 45%;

}

.button1 {
    background-color: rgb(145, 243, 255); 
    color: black; 
    border: 2px solid rgb(145, 243, 255);
}

.button1:hover {
    background-color: rgb(0, 227, 255);
    color: white;
}




/* -----movil --- */ 

@media screen and (max-width:760px){
    header .menu{
        justify-content: center;
    }
    header .contenido-header .texto-header{
       font-size:18px;
    }
    header .contenido-header .texto-header .desaparecer{
        display: none;
    }
}

@media screen and (max-width:630px){
    header .contenido-header .titulo-header{
        font-size:80px;
    }
    header .contenido-header .linea-header{
        width: 400px;
    }
    main .portafolio .galeria .fotos{
        width:49%;
    }
}

@media screen and (max-width: 500px){
    header .contenido-header .titulo-header{
        font-size:40px;
    }
 
    main .contenido-cajas{
        justify-content: center
    }

}

@media screen and (max-width: 350px){

    header .contenido-header .texto-header{
        font-size:15px;
    }
}